* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TASA Orbiter", sans-serif;
  text-align: center;
  background-color: #580f41;
}

section {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

li {
  list-style: none;
}

section li {
  color: #3b0a2a;
  font-weight: bold;
}

section h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  color: #d4af37;
}

a {
  color: #c08081;
  text-decoration: none;
}
a:hover {
  color: #d4af37;
}
a:active {
  color: #c08081;
}
a:visited {
  color: #c08081;
}

.double-text::before {
  position: absolute;
  content: "Avion Cobb";
  color: #00000091;
  transform: translate(5px, 5px);
  z-index: -1;
}

.highlight-text {
  color: #d4af37;
}

.framed-img {
  padding: 30px;
  border: 20px #d4af37 solid;
  border-radius: 50%;
  box-shadow: 15px 10px 5px 1px rgba(0, 0, 0, 0.5);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #580f41;
}

.navbar a {
  font-size: 25px;
  float: left;
  padding: 15px;
  text-decoration: none;
  color: #c08081;
}
.navbar a:hover {
  color: #d4af37;
}

.experience {
  display: flex;
  margin-top: -50px;
}

.experience-list h2 {
  color: #3b0a2a;
}

.experience-list li {
  list-style: disc;
  text-align: left;
  margin: 10px;
  color: #3b0a2a;
}

.experience-list {
  flex: 100%;
  background-color: #9f8170;
  color: #3b0a2a;
  padding: 15px;
  margin: 18px;
  border: 5px solid #d4af37;
  box-shadow: 10px -10px 10px 5px rgba(0, 0, 0, 0.5);
}

.name {
  padding-top: 50px;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  color: #d4af37;
}

.social-link,
.social-link:visited {
  color: #ffffff;
}

#about {
  width: 70%;
  font-size: 20px;
  background-color: #3b0a2a;
  color: #c08081;
  border: 2px solid #d4af37;
  border-radius: 120px;
  box-shadow: -10px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.about-me {
  padding: 20px 0px;
  margin-bottom: 50px;
}

.top {
  font-size: 50px;
  color: #c08081;
}

.top a {
  text-decoration: none;
  color: #d4af37;
}

.social a {
  padding: 10px;
}

#home {
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
  color: #c08081;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    width: auto;
    height: 50px;
  }

  .navbar a {
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
  }

  .name {
    display: none;
  }

  .experience {
    display: grid;
  }

  .experience-list {
    flex: 100%;
    background-color: #9f8170;
    color: #3b0a2a;
    padding: 15px;
    margin: 18px;
    border: 5px solid #d4af37;
    box-shadow: 32px 10px 8px 3px rgba(36, 16, 49, 0.5);
  }

  .framed-img {
    display: none;
  }

  .double-text::before {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 767px) {
  .navbar {
    width: auto;
    height: 50px;
  }
  .navbar a {
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    color: #d4af37;
  }

  .double-text::before {
    display: none;
  }

  .experience {
    display: grid;
  }

  .name {
    display: none;
  }

  .experience-list {
    flex: 100%;
    background-color: #9f8170;
    color: #3b0a2a;
    padding: 15px;
    margin: 18px;
    border: 5px solid #d4af37;
    box-shadow: 32px 10px 8px 3px rgba(36, 16, 49, 0.5);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1279px) {
  .navbar a {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: #d4af37;
  }

  .name {
    padding-top: 50px;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
    color: #c08081;
  }

  .double-text::before {
    display: none;
  }

  .experience {
    display: grid;
  }
}
